@tailwind base;
@tailwind components;
@tailwind utilities;

/* App base styles */
html,body,#root{height:100%;margin:0}
body{font-family:Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial}

/* small helpers */
.scrollbar-hide::-webkit-scrollbar{display:none}
